/* styles.css */

.players-list {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.players-list h2 {
    color: #333;
    margin-bottom: 20px;
}

.players-list ul {
    list-style: none;
    padding: 0;
}

.players-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.players-list img {
    border-radius: 50%;
    margin-right: 15px;
}

.players-list .player-info {
    display: flex;
    flex-direction: column;
}

.players-list .player-info div {
    margin-bottom: 5px;
    color: #555;
}

.players-list .player-name {
    font-weight: bold;
    color: #000;
}
.players-list {
    list-style-type: none;
    padding: 0;
}

.players-list li {
    margin-bottom: 10px;
}

.players-list a {
    text-decoration: none;
    color: #007bff;
}

.players-list a:hover {
    text-decoration: underline;
}
.player-profile {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

.player-profile h1 {
    margin-bottom: 10px;
}

.player-profile p {
    margin: 5px 0;
}
.player-profile-pic{
    height: 270px;
    width: 170px;
}